<p style="color: green"><%= notice %></p>

<%= render @weekly_workout %>

<div>
  <%= link_to "Edit this weekly workout", edit_weekly_workout_path(@weekly_workout) %> |
  <%= link_to "Back to weekly workouts", weekly_workouts_path %>

  <%= button_to "Destroy this weekly workout", @weekly_workout, method: :delete %>
</div>
