<p style="color: green"><%= notice %></p>

<%= render @attendance_record %>

<div>
  <% if current_user.coach? %>
    <%= button_to "Toggle presence", toggle_attendance_record_path(@attendance_record), method: :patch, form: { style: "display: inline-block; margin-right: 10px;" }, style: "font-size: 0.8em; padding: 2px 5px;" %>
  <% end %>

  <%= link_to "Edit this attendance record", edit_attendance_record_path(@attendance_record) %> |
  <%= link_to "Back to attendance records", attendance_records_path %>

  <%= button_to "Destroy this attendance record", @attendance_record, method: :delete %>
</div>
